* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #898f91b6;
    font-family: 'Roboto', sans-serif;
}

.interface {
    min-height: 80vh;
    width: 80%;
    border-radius: 50px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 27px 27px 53px #c9c9c9,
        -27px -27px 53px #ffffff;
    border: 1px solid white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.playing {
    position: relative;
    margin-top: 20px;

}

.back {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 25px;
    height: 30px;
    left: 25px;
    border-radius: 150px;
    background: #e0e0e0;
    box-shadow: 4px 4px 9px #bebebe,
        -4px -4px 9px #ffffff;
    color: #f75ff7;
    margin: 0;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 25px;
    height: 30px;
    bottom: 30px;
    left: 250px;
    border-radius: 150px;
    background: #e0e0e0;
    box-shadow: 4px 4px 9px #bebebe,
        -4px -4px 9px #ffffff;
    color: #f75ff7;
    z-index: 2;
}

.art {
    background-image: url(/img/flower2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 50px;
    width: 200px;
    height: 200px;
    border-radius: 150px;
    box-shadow: 4px 4px 9px #bebebe,
        -4px -4px 9px #ffffff;


}

.song {
    margin-top: 20px;
}

.artist h6 {
    margin-top: 20px;
}

.artist h4 {
    color: #f75ff7;
    margin-top: 10px;
    margin-bottom: 100px;
}

.pause {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 98px;
    width: 100px;
    height: 100px;
    border-radius: 150px;
    background: linear-gradient(145deg, #e0e0e0, #f0f0f0);
    box-shadow: 8px 8px 17px #bebebe,
        -8px -8px 17px #ffffff;
    margin-top: 50px;
    color: #f75ff7;
    font-size: 3rem;
}

.skip-back {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50px;
    height: 50px;
    left: 25px;
    bottom: 80px;
    border-radius: 150px;
    background: linear-gradient(145deg, #e0e0e0, #f0f0f0);
    box-shadow: 8px 8px 17px #bebebe,
        -8px -8px 17px #ffffff;
    color: #f75ff7;
}

.skip-forward {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50px;
    height: 50px;
    left: 220px;
    bottom: 128px;
    border-radius: 150px;
    background: linear-gradient(145deg, #e0e0e0, #f0f0f0);
    box-shadow: 8px 8px 17px #bebebe,
        -8px -8px 17px #ffffff;
    color: #f75ff7;
}

.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 65%;
    height: 10px;
    left: 50px;
    border-radius: 10px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow: 8px 8px 17px #bebebe,
        -8px -8px 17px #ffffff;
    position: relative;

}

.progress-bar {
    position: relative;
    width: 40%;
    height: 5px;
    background-color: #f75ff7;
    z-index: 1000;
}

.pause-btn {
    position: absolute;
    left: 60px;
    bottom: 270px;
}

.time {
    position: absolute;
    left: 294px;
    bottom: 267px;
}

.drag-btn {
    position: relative;
    border-radius: 42px;
    background: #c7c7c7;
    box-shadow: 1px 1px 3px #bebebe,
        -1px -1px 3px #ffffff;
    z-index: 2;    
}

.drag-fwd{
    color: #f75ff7;
}

/*Media queries*/

@media only screen and (max-width: 320px){
    .interface{
        min-width: 90%;
    }
    
    .menu{
        left: 245px;
    }

    .art{
        left: 16%;
    }

    .time{
        left: 72%;
    }
    
    .pause-btn{
        left: 20%;
    }

    .controls{
        position: relative;
        left: -2%;
    }
}

@media only screen and (max-width: 425px){
    .interface{
        min-width: 90%;
    }
    
    .menu{
        left: 340px;
    }

    .art{
        left: 23%;
    }

    .time{
        left: 72%;
    }
    
    .pause-btn{
        left: 15%;
    }

    .controls{
        position: relative;
        left: 10%;
    }    
}
@media only screen and (max-width: 768px){
    .interface{
        min-width: 80%;
    }
    
    .menu{
        left: 560px;
    }

    .art{
        left: 33%;
    }

    .container{
        position: relative;
        left: 20%;
    }

    .time{
        left: 80%;
    }
    
    .pause-btn{
        left: 15%;
    }

    .controls{
        position: relative;
        left: 25%;
    }    
}
@media only screen and (max-width: 1024px){
    .interface{
        max-width: 60%;
        
        position: absolute;
        left: 15%
    }
    
    .menu{
        left: 560px;
    }

    .art{
        left: 33%;
    }

    .container{
        position: relative;
        left: 20%;
    }

    .time{
        left: 80%;
    }
    
    .pause-btn{
        left: 15%;
    }

    .controls{
        position: relative;
        left: 25%;
    }    
}

@media only screen and (max-width: 1440px){
    .interface{
        max-width: 60%;
        
        position: absolute;
        left: 15%
    }
    
    .menu{
        left: 810px;
    }

    .art{
        left: 38%;
    }

    .container{
        position: relative;
        left: 20%;
    }

    .time{
        left: 90%;
    }
    
    .pause-btn{
        left: 10%;
    }

    .controls{
        position: relative;
        left: 33%;
    }    
}
@media only screen and (max-width: 2560px){
    .interface{
        max-width: 60%;
        
        position: absolute;
        left: 15%
    }
    
    .menu{
        left: 810px;
    }

    .art{
        left: 38%;
    }

    .container{
        position: relative;
        left: 20%;
    }

    .time{
        left: 90%;
    }
    
    .pause-btn{
        left: 10%;
    }

    .controls{
        position: relative;
        left: 33%;
    }    
}
